<!doctype html>
<html lang="zh-Hant" xml:lang="zh-Hant">

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
  <meta content="en" http-equiv="Content-Language">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="ODigital COVID-19 Vaccine Record portal - State of California" name="author">
  <link href="https://www.google-analytics.com" rel="preconnect">
  <meta content="#000000" name="theme-color">
  <meta content="https://files.covid19.ca.gov/img/4-color-map.png" property="og:image">
  <meta content="630" property="og:image:height">
  <meta content="630" property="og:image:width">
  <meta content="Digital COVID-19 Vaccine Record portal" property="og:title">
  <meta content="Digital COVID-19 Vaccine Record portal" property="og:description">
  <meta content="https://vaxrecord.cdt.ca.gov/" property="og:url">
  <meta content="summary_large_image" name="twitter:card">
  <title>常見問答 -  數位 COVID-19 疫苗接種記錄</title>
  <meta content="Digital COVID-19 Vaccine Record portal" name="description">
  <!-- capture the CSS content as a Nunjucks variable -->
  {% set css %}
  {% include "../css/index.css" %}
  {% endset %}
  <!-- feed it through our cssmin filter to minify -->
  <style>
    {{ css | cssmin | safe }}
  </style>
</head>

<body>
  <header>
    {% include "../../src/components/utility-header/utility-header.html" %}
    {% include "../../src/components/branding/branding.html" %}
  </header>
  <main>
    {{ content | safe }}
  </main>

  {% include "../../src/components/footer/footer-ch-hant.html" %}
  
<!-- capture the JS content as a Nunjucks variable -->
{% set js %}
  {% include "../../_site/js/built.js" %}
{% endset %}
<!--feed it through our jsmin filter to minify -->
<script type="module">
  {{ js | safe }}
</script>

  <script>
   // window.ga = window.ga || function () { (ga.q = ga.q || []).push(arguments) }; ga.l = +new Date;
   // ga('create', 'UA-154336791-1', 'auto');
   // ga('send', 'pageview');
  </script>
  <script async defer src='https://www.google-analytics.com/analytics.js'></script>

</html>