/* branding */
.navigation {
	box-sizing: border-box;
	background-color: $white;
	border-bottom: 1px solid $gray-300;
	.container {
		max-width: $w-lg;
		margin: 0 auto;
		padding: 0 16px 0 16px;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: center;
		position: relative;
	}
	&.mobile {
		display: none;
	}
	&.show {
		display: block !important;
	}
	nav {
		display: flex;
		flex-direction: column;
		a {
			color: $primary-dark;
			text-decoration: none;
			font-size: 1.125rem;
			padding-top: 1rem;
			padding-bottom: 1rem;
			&:hover {
				text-decoration: underline;
			}
			&:focus {
				outline: 2px solid $secondary;
			}
		}
	}

}


@media (min-width: 768px) {
	.navigation {
		display: block;
		nav {flex-direction:row;
		a {
			padding-right: 2.3rem;
			padding-left: 5px;
			font-size: 1rem;
			padding-top: 10px;
			padding-bottom: 13px;
		}
		}
	}
}
